## Restaurant Recommendation System using Cosine Similarity

In this project, we will build a restaurant recommendation system using Python. The system will calculate restaurant similarity based on the "name" and "type" columns of the dataset using **cosine similarity**. This approach will help identify how similar two restaurants are based on their names and types, allowing for more personalized recommendations.

You can access the dataset for this task [here](https://www.kaggle.com/datasets/siddharthmandgi/tripadvisor-restaurant-recommendation-data-usa). We'll use various Python libraries to process the data and compute cosine similarity for restaurant recommendations.

In [2]:
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
df= pd.read_csv("TripAdvisor_RestauarantRecommendation.csv")

In [4]:
df.head()

,Name,Street Address,Location,Type,Reviews,No of Reviews,Comments,Contact Number,Trip_advisor Url,Menu,Price_Range
0,Betty Lou's Seafood and Grill,318 Columbus Ave,"San Francisco, CA 94133-3908","Seafood, Vegetarian Friendly, Vegan Options",4.5 of 5 bubbles,243 reviews,NaN,+1 415-757-0569,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$
1,Coach House Diner,55 State Rt 4,"Hackensack, NJ 07601-6337","Diner, American, Vegetarian Friendly",4 of 5 bubbles,84 reviews,"Both times we were there very late, after 11 P...",+1 201-488-4999,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$
2,Table Talk Diner,2521 South Rd Ste C,"Poughkeepsie, NY 12601-5476","American, Diner, Vegetarian Friendly",4 of 5 bubbles,256 reviews,Waitress was very friendly but a little pricey...,+1 845-849-2839,https://www.tripadvisor.com//Restaurant_Review...,http://tabletalkdiner.com/menu/breakfast/,$$ - $$$
3,Sixty Vines,3701 Dallas Pkwy,"Plano, TX 75093-7777","American, Wine Bar, Vegetarian Friendly",4.5 of 5 bubbles,235 reviews,Not sure why I went there for the second time....,+1 469-620-8463,https://www.tripadvisor.com//Restaurant_Review...,https://sixtyvines.com/menu/plano-tx/,$$ - $$$
4,The Clam Bar,3914 Brewerton Rd,"Syracuse, NY 13212","American, Bar, Seafood",4 of 5 bubbles,285 reviews,Doesn't look like much from the outside but wa...,+1 315-458-1662,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$

In [5]:
df= df[["Name", "Type"]]
df

,Name,Type
0,Betty Lou's Seafood and Grill,"Seafood, Vegetarian Friendly, Vegan Options"
1,Coach House Diner,"Diner, American, Vegetarian Friendly"
2,Table Talk Diner,"American, Diner, Vegetarian Friendly"
3,Sixty Vines,"American, Wine Bar, Vegetarian Friendly"
4,The Clam Bar,"American, Bar, Seafood"
...,...,...
3057,Indigo Kitchen & Ale House,"American, Bar, Vegetarian Friendly"
3058,City Vineyard,"American, Bar, Seafood"
3059,BRIO Tuscan Grille,"Steakhouse, Italian, Bar"
3060,Maywood Pancake house,"American, Vegan Options, Gluten Free Options"
3061,Porto Leggero,"Italian, Vegetarian Friendly, Vegan Options"

In [6]:
df.isnull().sum()

Name     0
Type    13
dtype: int64

In [7]:
df.shape

(3062, 2)

In [8]:
df= df.dropna()

In [9]:
feature = df["Type"].tolist()
tf_idf=  TfidfVectorizer(stop_words = "english")
tf_idf_matrix = tf_idf.fit_transform(feature)
similarity = cosine_similarity(tf_idf_matrix)

In [10]:
indices = pd.Series(df.index, index=df['Name']).to_dict()

In [46]:
def restaurant_recommendation(name, similarity):
    index = indices[name]
    similarity_scores = list(enumerate(similarity[index]))
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    similarity_scores = similarity_scores[:10]  # Correct slicing
    restaurant_indices = [i[0] for i in similarity_scores]
    return df['Name'].iloc[restaurant_indices]

print(restaurant_recommendation("Market Grill", similarity))

23                   The Lion's Share
154                        Houlihan's
518            Midgley's Public House
568                 Aspen Creek Grill
770              Pete's Sunset Grille
1190     Paul Martin's American Grill
1581                   Aviation Grill
1872                   Aviation Grill
2193                Crest Bar & Grill
2612    Tahoe Joe's Famous Steakhouse
Name: Name, dtype: object

## Conclusion

In this project, a restaurant recommendation system was successfully built using Python and cosine similarity. By leveraging the **TF-IDF Vectorizer**, the system calculates the similarity between restaurant types and recommends the top similar restaurants based on the user's query. After ensuring accurate indexing and handling potential errors, the system effectively identifies the most relevant restaurant recommendations.

The use of cosine similarity in combination with the TF-IDF vectorizer allowed for an efficient and scalable solution, enabling users to find restaurants similar to their preferences with ease. This model can be further enhanced by incorporating more features, such as user reviews or location-based recommendations, to provide more personalized results.